<div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div id="shoppingCartPanel">
        <div class="row">
            <div class="col-sm-3">
                <h2 style="text-align: center;">BARBER</h2>
            </div>
            <div class="col-sm-3">
                <h2 style="text-align: center;">PRODUCT</h2>
            </div>
            <div class="col-sm-4">
                <h2 style="text-align: center;">CLIENT</h2>
            </div>
            <div class="col-sm-2">
                <h2 style="text-align: center;"></h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div id="productItemBox">
                    <div ng-repeat="barber in staffList" style="padding:10px;">
                        <div class="btn btn-primary" style="width: 100%; height: 50px;" ng-class="checkActiveBarber(barber.id)" ng-click="makeBarberActive(barber)">{{barber.name}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="productItemBox">
                    <div ng-repeat="product in products track by $index" style="padding:10px;">
                        <div class="btn btn-primary" title="{{product.description}}" style="width: 100%; height: 50px;" ng-class="checkProductActive(product.id)" ng-click="makeProductActive(product)">{{product.name}} : {{product.price | currency}}</div> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="productItemBox">
                    <!--                    <div ng-show="loadingClients">
                                            <img src="./img/progress.gif" alt="loading" />
                                        </div>-->
                    <div class="row">
                        <button ng-show="showNewClient" id="sellFormHideButton" class="btn btn-warning" ng-click="toggleShowNewClient()">EXISTING CLIENT</button>
                        <button ng-hide="showNewClient" style="width:49%;" id="sellFormShowButton" class="btn btn-primary" ng-click="toggleShowNewClient()">NEW CLIENT</button>
                        <button ng-hide="showNewClient" style="width:49%;" id="sellFormShowButton" class="btn btn-primary" ng-click="makeClientActive(anonymousClient)">CASUAL</button>
                    </div>
                    <div class="row" id='ClientsTableMain' ng-hide="showNewClient">
                        <div class="col-md-6">Name</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Phone</div>
                    </div>
                    <div class="row" ng-hide="showNewClient">
                        <div class="col-md-6">
                            <input type="text" ng-model="nameFilter.name" placeholder="Name"/>
                        </div>
                        <div class="col-md-1" ng-show="nameFilter.name" style="margin:5px 0px 0px -30px;">
                            <i class="glyphicon glyphicon-remove" ng-click="nameFilter.name = ''"></i>
                        </div>
                        <div class="col-md-5"><input type="text" ng-model="nameFilter.phone" placeholder="Phone"/></div>
                    </div>
                    <div class="row" style="height:50px; margin:5px;" ng-hide="showNewClient" ng-click="makeClientActive(person)" ng-class="checkClientActive(person.id)" ng-repeat="person in clientList| filter:clientSearch track by $index" >
                        <div class="col-md-6" style="margin:15px 0px;"> {{person.firstName}} {{person.lastName}}</div>
                        <div class="col-md-6" style="margin:15px 0px;"><span ng-if="person.counters.progress != 5">Haircuts: {{person.counters.progress}} </span> <span ng-if="person.counters.progress == 5" style="background-color: red;color:white;font-weight: bold;padding:5px; margin-top:5px;">HALF PRICE</span></div>
                    </div>
                    <div class="row" ng-show="showNewClient">
                        <div class="col-md-6"><input capitalize-first name="firstName" placeholder="First name" ng-model="newClient.firstName"></div>
                        <div class="col-md-6"><input capitalize-first name="lastName" placeholder="Last name" ng-model="newClient.lastName"></div>
                    </div>
                    <div class="row" ng-show="showNewClient">
                        <button class="btn btn-primary col-md-12" style="margin:5px;" ng-click="addClientAndMakeActive()">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div ng-click="saveSale('eftpos')" id="shoppingCartDoneButton"
                     class="btn btn-lg btn-success rotate">EFTPOS</div>
                <div ng-click="addToCart()" id="shoppingCartAddButton"
                     class="btn btn-lg btn-primary"><div><i class="glyphicon glyphicon-arrow-up"></i></div>
                    <div>ADD</div><div><i class="glyphicon glyphicon-arrow-down"></i></div></div>
                <div ng-click="saveSale('cash')" id="shoppingCartDoneButton"
                     class="btn btn-lg btn-success rotate">CASH</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="shoppingCart">
                <div class="customerName">
                    Customer: <span>{{cart.client.name}}</span>
                </div>
                <div class="alert alert-warning" ng-show="cartProducts.length == 0 && cartServices.length == 0">
                    There are no products selected.
                </div>
                <div ng-hide="cartProducts.length == 0 && cartServices.length == 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th><th>Name</th><th>Barber</th><th>Quantity</th><th>Price</th><th>SubTotal</th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="service in cartServices">
                                <td>{{$index+1}}</td>
                                <td>{{service.name}}</td>
                                <td>{{service.barber.name}}</td>
                                <td>1</td>
                                <td>{{service.price}}</td>
                                <td>{{service.price}}</td>
                                <td><button ng-click="remove(service.id)"
                                            class="btn btn-sm btn-warning">Remove</button></td>
                            </tr>
                            <tr ng-repeat="item in cartProducts">
                                <td>{{$index+cartServices.length+1}}</td>
                                <td>{{item.name}}</td>
                                <td></td>
                                <td>{{item.qty}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.price * item.qty}}</td>
                                <td><button ng-click="remove(item.id)"
                                            class="btn btn-sm btn-warning">Remove</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td ng-show="cart.client && cart.client && cart.client.name !== 'Casual Customer'">Points: {{cart.client.points}}</td>
                                <td ng-show="cart.client && cart.client.name !== 'Casual Customer'">
                                    <button ng-click="toggleCountPoints()" ng-hide="countPoints" class="btn  btn-primary">Use it</button>
                                    <button ng-click="toggleCountPoints()" ng-show="countPoints"
                                            class="btn  btn-warning">cancel</button></td>
                                <td class="text-right" id="shoppingCardDiscount">
                                    <label>Discount: </label> 
                                    <input type="text" ng-model="cart.discount" />
                                </td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right">
                                    <div class="row">Sub Total:{{ subTotal() | currency}}</div>
                                    <div class="row">Groom Points:{{calcPoints() | currency}}</div>
                                    <div class="row">Other discounts:{{ manualDiscount() | currency}}</div>
                                    <div class="row">Total: {{total() | currency}}</div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>