<div>
    <div><h1>Visits</h1>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div>
        <div>
            <label>From: </label>
            <input ng-model="dateFrom" type="date"/>
            <label>To: </label>
            <input ng-model="dateTo" type="date"/>
        </div>
        <div>
            <table class="table table-striped table-hover" id='VisitsTableMain' >
                <thead>
                    <tr>
                        <th>#</th><th>Date</th><th>Client</th><th>Barber</th><th>Haircut</th><th>Price</th>
                        <th>Payment</th><th>Location</th>
                    </tr>
                </thead><tbody>
                    <tr ng-show="dataLoading">
                        <td colspan="8">
                            <img ng-src="./img/progress.gif" alt="loading" width="100px" height="100px"/>
                        </td>
                    </tr>
                    <tr  ng-click='openVisit(visit.id)' ng-repeat="visit in visits| filter: visitsDateFilter | orderBy : 'date':true" >
                        <td>{{$index + 1}}</td>
                        <td>{{visit.date| date:'d MMMM yyyy H:m'}} </td>
                        <td>
                            {{visit.client.name}}
                        </td>
                        <td>{{visit.barber.name}}</td>
                        <td>{{visit.product.name}}</td>
                        <td>{{visit.product.price}}</td>
                        <td>{{visit.paymentType}}</td>
                        <td>{{visit.store}}</td>
                    </tr>
                <tbody>
            </table>
            <div ng-if="currentUser.role === 'admin'" class="btn btn-success" ng-click="restoreDeletedVisitPage()">Restore deleted visits</div>
        </div>
    </div>
</div>